@use postcss-color-function;
@use postcss-nested;
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');



*{
    padding: 0px;
    margin: 0px;
}

/* set the icons and the text width      */
img{
    width: 30px;
}

#dashboard-icon{
    width: 50px;
}
#profile-icon {
    width: 50px;
}
#profile-icon-text{
    width: 70px;
}
#dashboard-text{
    font-size: 30px;
}

/* set the fonts */

#profile-name{
    font-size: 20px;
    font-weight: bold;
}

#header-text-name{
    font-size: 25px;
    font-weight: bold;

}

/* container of the side bar , header and main content     */
.container{
    display: grid;
    grid-template-columns: 0.5fr  4fr;
    grid-template-rows: 1fr 4fr ;
  
}




.side-bar{
    
    background-color: #71717a;
    color: #d4d4d8;
    height: 99vh;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:1 ;
    grid-row-end: -1;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr  1fr;
    gap: 30px;
    
    
}

.nav-bar{
    display: grid;
    grid-template-rows: repeat(6,0.5fr) 
}

.settings{
    display: grid;
    grid-template-rows: repeat(3,0.15fr)
}

/* the icon next to the text box layout      */
.box{
    display: flex;
    align-items: center;
    gap: 10px;

}




.header{
   
    grid-column-start:2 ;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.header div{
    
}

.main-content{
    border: 1px solid blue;
    grid-column-start:2 ;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: -1;
}

#search-bar{
    display: flex;
    padding-left: 30px;
    justify-content: start;
    align-items: center;
}

/* search bar style  */
.search__input{
    width: 70%;
    padding: 12px 24px;

    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    
    color: #575756;
    background-color: transparent;
/*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */

  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    
    &::placeholder {
        color: color(#575756 a(0.8));
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }
    
    &:hover,
    &:focus {
        padding: 12px 0;
        outline: 0;
        border: 1px solid transparent;
        border-bottom: 1px solid #575756;
        border-radius: 0;
        background-position: 100% center;
}
}

.header-profile{
    display: grid;
    grid-template-columns: repeat(2,0.15fr) 0.25fr ;
    justify-content: center;
    align-items: center;
}

.header-buttons{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
}

button{
    width:90px ;
    height: 40px;
    border-radius: 20px;
    background-color: #71717a;
    border-color: #71717a;
    color: #d4d4d8;
}

.header-text{
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}

.header-text img{
   grid-row-start: 1;
    grid-row-end: 3;
}